
.list, .logo, .top {
    background-color: black;
    color: white;
    padding: 20px;
    height: 700px;
    width: 300px;
}

.hero {
    height: 1133px;
    background-image: url("../portfolio/images/heroimg.png");
    float: right;

}

.text {
    align-items: center;
    
}